{% load static %}
<nav class="navbar navbar-expand-lg bg-success">
    <div class="container-sm">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="navbar-brand text-light fw-bold fst-italic text-decoration-underline fs-2"
                        href="/">RPL</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Digite..">
                <button class="btn btn-secondary" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-sm">
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible fade show my-3">
        <span id="messages">{{message}}</span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
</div>